<!--About the company deatils -->
<%- include('partials/header.ejs', {user: user}) -%>
    <main>
        <h2> About Us..</h2><br>
        <p> It's a platform to find your partner to workout with our connections. Feel free to try it and please reviews us about it! Thank you </p>
    </main>

    <%- include('partials/footer.ejs') -%>