<!-- Details of contact page  -->
<%- include('partials/header.ejs', {user: user}) -%>

    <main>
        <h1> Contact Us</h1><br>
        <h3>Rahul Sajjan</h3>
        <h3> Phone: 980-335-7724 </h3>
        <h3> E-mail: rahul.sajjan3@gmail.com</h3>
    </main>

    <%- include('partials/footer.ejs') -%>