<!-- Home page, what the users sees when the page is loaded -->
<%- include('partials/header.ejs', {user: user}) -%>

    <main>
        <h1> Welcome to the Fitnection</h1>
        <p> Looking for a partner? if yes, you are in a right place!. Find your partner to workout with our connections. Checkout your area of interest by clicking on MyFitnection </p>
    </main>


    <%- include('partials/footer.ejs') -%>